/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	/* margin-top: 20px; */
	width: 1000px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.nav-header {
	margin-top: 10px;
}

body div nav {
	display: inline-block;
}

body nav a {
	color: lightgray ;
	text-decoration: none;
	margin: 0 30px;
	width 80%;
}
.logo {
	margin-left: 25px;
	padding-top: 20px;
	position: relative;
}

h1 {
	font-size: 80px;
}

h1 .on {
	margin-left: 100px;
}

h1 .demand {
	margin-left: 50px;
}

.interactive-logo {
	margin: 100px 40px;
}

.interactive-logo h1 {
	text-align: center;
	width: 49%;
	position: relative;
	left: 75px;
}

.logo {
	width: 15%;
	margin-left: 50px;
}

.get-started-btn {
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	margin: 10px;
	margin-left: 110px;
}

#code-circle {
	position: relative;
	left: 100px;
}

.header, 
.header .interactive-logo  {
	display: inline-block;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
	font-weight: 500
}

.two-column {
	border-top: 1px solid black;
}

.two-column .features,
.two-column .about {
	display: inline-block;
	width: 47%;
	margin: 35px 10px;
}

.middle-img {
	position: relative;
	/* left: 100px; */
	margin-bottom: 40px;
	width: 100%;
}

.three-columnn {
	border-bottom: 1px solid black;
}

.three-column div {
	width: 30%;
	display: inline-block;
	margin: 10px;
	padding-bottom: 10px;
}

address {
	border-top: 1px solid black;
	padding-top: 35px;
	margin: 20px 0;
}

.phone {
	margin: 15px 0;
	font-weight: 600;
}

.copyright {
	text-align: center;
	margin: 40px;
}